@model Server.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0 && loginProviders.Any(c => c.AuthenticationType == "Twitter"))
    {
        <h4>外部サービス</h4>
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="top-buffer col-sm-8">
                <p>
                    <button type="submit" class="btn btn-tw" id="Twitter" name="provider" value="Twitter" title="Twitter アカウントを使用してログイン"><i class="fa fa-twitter"></i> Twitter</button>
                </p>
            </div>
        }
    }
}
