<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="TwitterConsumerKey" value="{Twitter Consumer Token Here}" />
  <add key="TwitterConsumerSecret" value="{Twitter Consumer Secret Here}" />
  <add key="ListenerTokenTimeout" value="600"/>
  <add key="SchedulerSecretKey" value="{Secret Key Here}" />
</appSettings>