using Microsoft.AspNet.Identity;
using Microsoft.AspNet.Identity.EntityFramework;
using Server.Models;

namespace Server.Migrations
{
    using System;
    using System.Data.Entity;
    using System.Data.Entity.Migrations;
    using System.Linq;

    internal sealed class Configuration : DbMigrationsConfiguration<Server.Models.ApplicationDbContext>
    {
        public Configuration()
        {
            AutomaticMigrationsEnabled = true;
        }

        protected override void Seed(Server.Models.ApplicationDbContext context)
        {
            var roleManager = new RoleManager<ApplicationRole>(new RoleStore<ApplicationRole>(context));
            var adminRole = roleManager.FindByName("admin");

            if (adminRole == null)
            {
                adminRole = new ApplicationRole("admin");
                var result = roleManager.Create(adminRole);
            }

            var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));

            ApplicationUser adminUser = userManager.FindByName("admin");
            if (adminUser == null)
            {
                adminUser = new ApplicationUser()
                {
                    UserName = "admin",
                };
                var result = userManager.Create(adminUser, "adminPassword@12345");
            }

            if (adminUser.Roles.All(c => c.RoleId != adminRole.Id))
            {
                userManager.AddToRole(adminUser.Id, "admin");
            }

            context.SaveChanges();
        }
    }
}
